  <!-- Connect with us -->
    <section class="connect_with_us">
        <div class="container">
            <h2>Connect with us</h2>
            <ul class="contact_with_socail">
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- End Connect with us -->
        
    <!-- Footer Area -->  
    <footer class="footer_area">
       
       <div class="copy_right">
            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p> 
        </div>
    </footer>
    <!-- End Footer Area -->  